.app {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-rows: 70px auto auto;
  grid-template-columns: auto;
}

.cabecalho {  
  grid-area: cabecalho;
  display: flex;
  align-items: center;  
  padding: 0 2rem;
}

.conteudo {
  background: #ff8080;
  grid-area: conteudo;
  padding: 2rem 2rem;
}

.rodape {
  background: #0099ff;
  grid-area: rodape;  
  padding: 1.5rem 2rem;
}